<article class="post">
  <div class="post-preview">
    <a href="{{post_url}}" target="_blank">
      <h2 class="post-title">{{title}}</h2>
      <h3 class="post-subtitle"><span>({{format_url post_url}})</span></h3>
    </a>
    <p class="post-meta">
      <span class="thumbup"><i
              class="fa fa-thumbs-up thumbup"></i></span>
      {{vote_count}} {{format_plural "point" vote_count}} by {{user.username}} on {{format_date created_at}}
      |
      <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </p>
  </div>
</article>